:root{
  --primary-color: #2374E1;
  --background-color: #18191A;
  --text-color: #E4E6EB;
  --background-component: rgba(255, 255, 255, 0.1);
  --transition-duration: .2s;
  --grey-color: #898F9C;
}
